{{ template "header.html" }}

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <img src="{{ .adultDiaper.Image }}" alt="adult-diaper">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>{{ .adultDiaper.Name }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>{{ .adultDiaper.PriceFormatted }}</strong> | Stok: {{ .adultDiaper.Quantity }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h3>Deskripsi</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>{{ .adultDiaper.Description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <form action="/add-cart" method="post" class="row g-2">
                <div class="col-2">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" id="decrementButton">-</button>
                            </div>
                            <input type="number" class="form-control" id="quantityInput" name="amount" value="1">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="incrementButton">+</button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{{ .adultDiaper.Id }}">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">+ Keranjang</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
        // JavaScript to handle increment and decrement buttons
        $(document).ready(function() {
            // Get the input element and buttons
            var quantityInput = document.getElementById('quantityInput');
            var decrementButton = document.getElementById('decrementButton');
            var incrementButton = document.getElementById('incrementButton');

            // Add click event listeners
            decrementButton.addEventListener('click', function() {
                if (quantityInput.value > 1) {
                    quantityInput.value = parseInt(quantityInput.value) - 1;
                }
            });

            incrementButton.addEventListener('click', function() {
                quantityInput.value = parseInt(quantityInput.value) + 1;
            });
        });
    </script>

{{ template "footer.html" }}
