<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Popok Dewasa</h1>
    <ol>
        {{ range .adultDiapers }}
            <li>
                <a href="/adult-diapers/{{ .Id }}">{{ .Name }}</a> <br>
                {{ .Price }} <br>
                <img src="{{ .Image }}" alt="adult-diaper"> <br>
            </li>
        {{ end }}
    </ol>
</body>
</html>