<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ .adultDiaper.Name }} <br>
    {{ .adultDiaper.Price }} <br>
    {{ .adultDiaper.Quantity }} <br>
    {{ .adultDiaper.Description }} <br>
    <img src="{{ .adultDiaper.Image }}" alt="adult-diaper"> <br>

    <form action="/add-cart" method="post">
        <input type="number" name="amount" id="amount" min="1">
        <input type="hidden" name="id" value="{{ .adultDiaper.Id }}">
        <input type="submit" value="+ Keranjang">
    </form>
</body>
</html>
