{{ template "header.html" }}

    {{ .babyDiaper.Name }} <br>
    {{ .babyDiaper.Price }} <br>
    {{ .babyDiaper.Quantity }} <br>
    {{ .babyDiaper.Description }} <br>
    <img src="{{ .babyDiaper.Image }}" alt="baby-diaper"> <br>

    <form action="/add-cart" method="post">
        <input type="number" name="amount" id="amount" min="1">
        <input type="hidden" name="id" value="{{ .babyDiaper.Id }}">
        <input type="submit" value="+ Keranjang">
    </form>

{{ template "footer.html" }}
