{{ template "header.html" }}

    <ol>
        {{ range .cart }}
            <li>
                {{ .Name }} <br>
                {{ .Amount }} <br>
                {{ .Total }} <br>
                <img src="{{ .Image }}" alt="cart"> <br>
                <form action="/cart-delete" method="post">
                    <input type="hidden" name="id" value="{{ .Id }}">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {{ end }}
    </ol>

    <h1>Total Order: {{ .totalOrder }}</h1>

    <a href="/order">Checkout</a>

{{ template "footer.html" }}
