<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Susu Formula</h1>
    <a href="/formula-milks">Lihat semua</a>
    <ol>
        {{ range .formulaMilks }}
            <li>
                <a href="/formula-milks/{{ .Id }}">{{ .Name }}</a> <br>
                {{ .Price }} <br>
                <img src="{{ .Image }}" alt="formula-milk"> <br>
            </li>
        {{ end }}
    </ol>

    <h1>Popok Bayi</h1>
    <a href="/baby-diapers">Lihat semua</a>
    <ol>
        {{ range .babyDiapers }}
            <li>
                <a href="/baby-diapers/{{ .Id }}">{{ .Name }}</a> <br>
                {{ .Price }} <br>
                <img src="{{ .Image }}" alt="baby-diaper"> <br>
            </li>
        {{ end }}
    </ol>

    <h1>Popok Dewasa</h1>
    <a href="/adult-diapers">Lihat semua</a>
    <ol>
        {{ range .adultDiapers }}
            <li>
                <a href="/adult-diapers/{{ .Id }}">{{ .Name }}</a> <br>
                {{ .Price }} <br>
                <img src="{{ .Image }}" alt="adult-diaper"> <br>
            </li>
        {{ end }}
    </ol>

</body>
</html>