{{ template "header.html" }}

<div class="container">
    <div class="row">
        <div class="col">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/images/carousel.png" class="d-block w-100 rounded-5" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/carousel.png" class="d-block w-100 rounded-5" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/images/carousel.png" class="d-block w-100 rounded-5" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col">
            <h2><span class="underlined">Susu </span>Formula</h2>
        </div>
        <div class="col">
            <p class="text-end mb-0 mt-3"><a class="text-decoration-none text-secondary" href="/formula-milks">Lihat semua</a></p>
        </div>
    </div>
</div>

    <ol>
        {{ range .formulaMilks }}
            <li>
                <a href="/formula-milks/{{ .Id }}">{{ .Name }}</a> <br>
                {{ .Price }} <br>
                <img src="{{ .Image }}" alt="formula-milk"> <br>
            </li>
        {{ end }}
    </ol>

    <h1>Popok Bayi</h1>
    <a href="/baby-diapers">Lihat semua</a>
    <ol>
        {{ range .babyDiapers }}
            <li>
                <a href="/baby-diapers/{{ .Id }}">{{ .Name }}</a> <br>
                {{ .Price }} <br>
                <img src="{{ .Image }}" alt="baby-diaper"> <br>
            </li>
        {{ end }}
    </ol>

    <h1>Popok Dewasa</h1>
    <a href="/adult-diapers">Lihat semua</a>
    <ol>
        {{ range .adultDiapers }}
            <li>
                <a href="/adult-diapers/{{ .Id }}">{{ .Name }}</a> <br>
                {{ .Price }} <br>
                <img src="{{ .Image }}" alt="adult-diaper"> <br>
            </li>
        {{ end }}
    </ol>

{{ template "footer.html" }}
