{{ template "header.html" }}

    <div class="container my-3">
        <div class="row">
            <div class="col">
                <h2><span class="underlined">Pengisian </span>Form</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="onlineRadio" checked onchange="updateForm()">
                    <label class="form-check-label" for="onlineRadio">
                        Kirim
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="offlineRadio" onchange="updateForm()">
                    <label class="form-check-label" for="offlineRadio">
                        Ambil ke toko
                    </label>
                </div>

                <div id="onlineForm" class="mb-5">
                    <form action="/order/online" method="post">

                        <label for="name" class="form-label">Nama:</label><br>
                        <input type="text" id="name" name="name" class="form-control" required> <br>

                        <label for="address" class="form-label">Alamat:</label> <br>
                        <input type="text" id="address" name="address" class="form-control" required> <br>

                        <label for="province" class="form-label">Provinsi:</label> <br>
                        <input type="text" id="province" name="province" class="form-control" required> <br>

                        <label for="citySelect" class="form-label">Kota/Kabupaten:</label> <br>
                        <select id="citySelect" class="form-control" name="city">
                        </select> <br>

                        <label for="phone-number" class="form-label">No HP:</label> <br>
                        <input type="text" id="phone-number" name="phone-number" class="form-control" required> <br>

                        <label for="post-code" class="form-label">Kode Pos:</label> <br>
                        <input type="text" id="post-code" name="post-code" class="form-control" required> <br>

                        <label for="typeSelect" class="form-label">Tipe Kurir:</label> <br>
                        <select id="typeSelect" class="form-control" name="type">
                            <option value="" selected>Pilih tipe kurir</option>
                        </select> <br>

                        <label for="cost" class="form-label">Ongkir:</label> <br>
                        <input type="text" id="cost" class="form-control" name="cost" readonly> <br>

                        <a href="/cart" class="btn btn-danger"> Batal</a>
                        <button type="submit" class="btn btn-primary">Lanjut Pembayaran</button>
                    </form>
                </div>

                <div id="offlineForm" style="display: none" class="mb-5">
                    <form action="/order/pickup-online" method="post">

                        <label for="name" class="form-label">Nama:</label><br>
                        <input type="text" id="name" name="name" class="form-control" required> <br>

                        <label for="number" class="form-label">No HP:</label> <br>
                        <input type="text" id="number" name="number" class="form-control" required> <br>

                        <label for="pickup-date" class="form-label">Waktu Pengambilan:</label> <br>
                        <input type="datetime-local" id="pickup-date" name="pickup-date" class="form-control" required> <br>

                        <a href="/cart" class="btn btn-danger"> Batal</a>
                        <button type="submit" class="btn btn-primary">Lanjut Pembayaran</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function updateForm() {
        var onlineForm = document.getElementById("onlineForm");
        var offlineForm = document.getElementById("offlineForm");

        // Show the selected form
        if (document.getElementById("onlineRadio").checked) {
            onlineForm.style.display = "block";
            offlineForm.style.display = "none";
        } else {
            onlineForm.style.display = "none";
            offlineForm.style.display = "block";
        }
    }

    document.getElementById("typeSelect").addEventListener("change", function() {
        const selectedValue = this.value
        const cityValue = document.getElementById('citySelect').value;
        const parts = cityValue.split(":");
        const id = parts[0];

        getType(id, {{ .totalWeight }})
        .then(datas => {
            datas.forEach(data => {
                if (data.service === selectedValue) {
                    document.getElementById('cost').value = data.cost[0].value;
                }
            })
        })
    })

    document.getElementById("citySelect").addEventListener("change", function() {
        const selectedValue = this.value;
        const parts = selectedValue.split(":");
        const id = parts[0];

        getType(id, {{ .totalWeight }})
            .then(datas => {
            const selectElement = document.getElementById('typeSelect');
            $(selectElement).empty()
            const optionDefault = document.createElement('option');
            optionDefault.textContent = 'Pilih tipe kurir';
            selectElement.appendChild(optionDefault);
            datas.forEach(data => {
                const option = document.createElement('option');
                option.value = `${data.service}`
                option.textContent = `Service: ${data.service}, Estimasi: ${data.cost[0].etd} Hari`;
                selectElement.appendChild(option)
                })
            })
            .catch(error => {
                console.error("Error while fetching type:", error)
            })
    })

    function getType(destination, weight) {
        return new Promise((resolve, reject) => {
            fetch('http://localhost:8080/api/type?destination='+destination+"&weight="+weight)
                .then(response => {
                    // Check if the response is successful
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    // Parse the response as JSON
                    return response.json();
                })
                .then(data => {
                    resolve(data)
                })
                .catch(error => {
                    // Handle any errors that occur during the fetch operation
                    reject(error);
                });
        })
    }

    fetch('http://localhost:8080/api/city')
        .then(response => {
            // Check if the response is successful
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            // Parse the response as JSON
            return response.json();
        })
        .then(data => {
            // Get the select element by its ID
            const selectElement = document.getElementById('citySelect');

            // Iterate over the data and create an option element for each city
            data.data.forEach(city => {
                const option = document.createElement('option');
                option.value = city.city_id + ":" + city.city_name ;// Set the value attribute to the city ID or any other unique identifier
                option.textContent = city.city_type + " " + city.city_name; // Set the text content to the city name
                selectElement.appendChild(option); // Append the option to the select element
            });
        })
        .catch(error => {
            // Handle any errors that occur during the fetch operation
            console.error('Fetch error:', error);
        });

    // Run the fetchData function when the page is loaded
    window.onload = fetchData;
</script>

{{ template "footer.html" }}
