<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tambah Susu Formula</h1>
    
    <form action="/products/formula-milks/create" method="post" enctype="multipart/form-data">
        <label for="nama-produk">Nama Produk:</label>
        <input type="text" id="product-name" name="product-name" required>
        <br>

        <label for="price">Harga:</label>
        <input type="number" id="price" name="price" required>
        <br>

        <label for="quantity">Jumlah:</label>
        <input type="number" id="quantity" name="quantity" required>
        <br>
      
        <label for="image">Select an image:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
        <br>
      
        <input type="submit" value="Submit">
    </form>

</body>
</html>