{{ template "dashboard-header.html" }}

    <div class="container mb-4">
        <div class="row ms-2">
            <h3> Edit Susu Formula</h3>
        </div>
        <div class="row ms-2">
            <div class="col">
                <form action="/dashboard/products/formula-milks/edit/{{.data.Id}}" method="POST" enctype="multipart/form-data">
                    <label for="product-name" class="form-label">Nama Produk:</label>
                    <input type="text" id="product-name" name="product-name" class="form-control" value="{{ .data.Name }}" required>

                    <label for="description" class="form-label">Deskripsi:</label>
                    <textarea name="description" id="description" class="form-control">{{ .data.Description }}</textarea>

                    <label for="price" class="form-label">Harga Beli:</label>
                    <input type="number" id="buy-price" name="buy-price" class="form-control" value="{{ .data.BuyPrice }}" required>

                    <label for="price" class="form-label">Harga Jual:</label>
                    <input type="number" id="price" name="price" class="form-control" value="{{ .data.Price }}" required>

                    <label for="quantity" class="form-label">Jumlah:</label>
                    <input type="number" id="quantity" name="quantity" class="form-control" value="{{ .data.Quantity }}" required>

                    <label for="weight" class="form-label">Berat(gram):</label>
                    <input type="number" id="weight" name="weight" class="form-control" value="{{ .data.Weight }}" required>

                    <label for="image" class="form-label">Select an image:</label>
                    <input type="file" id="image" name="image" accept=".png, .jpeg, .jpg" class="form-control">
                    <br>

                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

{{ template "dashboard-footer.html" }}
