<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard Home</title>
</head>
<body>
<h1>Dashboard Home</h1>

<p>Konfirmasi Pembayaran: {{ .confirmationPayment }}</p>
<p>Transaksi Berhasil: {{ .countDone }}</p>

<a href="/dashboard/products/formula-milks">Susu Formula</a>
<br>

<a href="/dashboard/products/baby-diapers">Popok Bayi</a>
<br>

<a href="/dashboard/products/adult-diapers">Popok Dewasa</a>
<br>

<a href="/dashboard/orders/offline">Order Offline</a>
<br>

<a href="/dashboard/orders/online">Order Online</a>
<br>

<form action="/dashboard/logout" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>
