{{ template "dashboard-header.html" . }}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Rekapitulasi Penjualan</h1>

            <div class="row row-cols-auto">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="milkRadio" checked onchange="updateForm()">
                        <label class="form-check-label" for="milkRadio">
                            Susu Formula
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="babyRadio" onchange="updateForm()">
                        <label class="form-check-label" for="babyRadio">
                            Popok Bayi
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="adultRadio" onchange="updateForm()">
                        <label class="form-check-label" for="adultRadio">
                            Popok Dewasa
                        </label>
                    </div>
                </div>
            </div>


            <div id="milkGraphic">
                <h4>Total penjualan susu formula order online</h4>
                <div class="chart-container" style="position: relative; height:60vh; width:80vw">
                    <canvas id="chartFormulaMilkOnlineOrder"></canvas>
                </div>

                <br>

                <h4>Total penjualan susu formula order offline</h4>
                <div class="chart-container" style="position: relative; height:60vh; width:80vw">
                    <canvas id="chartFormulaMilkOfflineOrder"></canvas>
                </div>

                <br>

<!--                <p><strong>Keuntungan kotor susu formula: {{ .grossProfitFormulaMilk }}</strong></p>-->
                <h5><strong>Keuntungan penjualan susu formula: {{ .ProfitFormulaMilk }}</strong></h5>
            </div>

            <div id="babyGraphic" style="display: none">
                <h4>Total penjualan popok bayi order online</h4>
                <div class="chart-container" style="position: relative; height:60vh; width:80vw">
                    <canvas id="chartBabyDiaperOnlineOrder"></canvas>
                </div>

                <br>

                <h4>Total penjualan popok bayi order offline</h4>
                <div class="chart-container" style="position: relative; height:60vh; width:80vw">
                    <canvas id="chartBabyDiaperOfflineOrder"></canvas>
                </div>

                <br>
<!--                <p><strong>Keuntungan kotor popok bayi: {{ .grossProfitBabyDiaper }}</strong></p>-->
                <h5><strong>Keuntungan penjualan popok bayi: {{ .ProfitBabyDiaper }}</strong></h5>
            </div>


            <div id="adultGraphic" style="display: none">
                <h4>Total penjualan popok dewasa order online</h4>
                <div class="chart-container" style="position: relative; height:60vh; width:80vw">
                    <canvas id="chartAdultDiaperOnlineOrder"></canvas>
                </div>

                <br>

                <h4>Total penjualan popok dewasa order offline</h4>
                <div class="chart-container" style="position: relative; height:60vh; width:80vw">
                    <canvas id="chartAdultDiaperOfflineOrder"></canvas>
                </div>

                <br>
<!--                <p><strong>Keuntungan kotor popok dewasa: {{ .grossProfitAdultDiaper }}</strong></p>-->
                <h5><strong>Keuntungan penjualan popok dewasa: {{ .ProfitAdultDiaper }}</strong></h5>
            </div>

        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const months = [];

    const sold = [];
    const recapSales = {{.recapSalesFormulaMilkByMonthOnlineOrder}};
    recapSales.forEach(recapSale => {
        months.push(recapSale.Month);
        sold.push(recapSale.Sold);
    })

    const soldBabyDiaperOnlineOrder = [];
    const recapSalesBabyDiaperOnlineOrder = {{.recapSalesBabyDiaperByMonthOnlineOrder}}
    recapSalesBabyDiaperOnlineOrder.forEach(recapSale => {
        soldBabyDiaperOnlineOrder.push(recapSale.Sold);
    })

    const soldAdultDiaperOnlineOrder = [];
    const recapSalesAdultDiaperByMonthOnlineOrder = {{.recapSalesAdultDiaperByMonthOnlineOrder}}
    recapSalesAdultDiaperByMonthOnlineOrder.forEach(recapSale => {
        soldAdultDiaperOnlineOrder.push(recapSale.Sold);
    })

    const soldFormulaMilkOfflineOrder = [];
    const recapSalesFormulaMilkByMonthOfflineOrder = {{.recapSalesFormulaMilkByMonthOfflineOrder}}
    recapSalesFormulaMilkByMonthOfflineOrder.forEach(recapSale => {
        soldFormulaMilkOfflineOrder.push(recapSale.Sold);
    })

    const soldBabyDiaperOfflineOrder = [];
    const recapSalesBabyDiaperByMonthOfflineOrder = {{.recapSalesBabyDiaperByMonthOfflineOrder}}
    recapSalesBabyDiaperByMonthOfflineOrder.forEach(recapSale => {
        soldBabyDiaperOfflineOrder.push(recapSale.Sold);
    })

    const soldAdultDiaperOfflineOrder = [];
    const recapSalesAdultDiaperByMonthOfflineOrder = {{.recapSalesAdultDiaperByMonthOfflineOrder}}
    recapSalesAdultDiaperByMonthOfflineOrder.forEach(recapSale => {
        soldAdultDiaperOfflineOrder.push(recapSale.Sold);
    })

    const monthNames = [
        "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ];

    const sixMonthsBackMonths = [];
    months.forEach(month => {
        sixMonthsBackMonths.push(monthNames[month-1])
    })

    const chartFormulaMilkOnlineOrder = document.getElementById('chartFormulaMilkOnlineOrder');

    new Chart(chartFormulaMilkOnlineOrder, {
        type: 'line',
        data: {
            labels: sixMonthsBackMonths,
            datasets: [{
                label: 'Total penjualan susu formula order online',
                data: sold,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const chartBabyDiaperOnlineOrder = document.getElementById('chartBabyDiaperOnlineOrder');

    new Chart(chartBabyDiaperOnlineOrder, {
        type: 'line',
        data: {
            labels: sixMonthsBackMonths,
            datasets: [{
                label: 'Total penjualan popok bayi order online',
                data: soldBabyDiaperOnlineOrder,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const chartAdultDiaperOnlineOrder = document.getElementById('chartAdultDiaperOnlineOrder');

    new Chart(chartAdultDiaperOnlineOrder, {
        type: 'line',
        data: {
            labels: sixMonthsBackMonths,
            datasets: [{
                label: 'Total penjualan popok dewasa order online',
                data: soldAdultDiaperOnlineOrder,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const chartFormulaMilkOfflineOrder = document.getElementById('chartFormulaMilkOfflineOrder');

    new Chart(chartFormulaMilkOfflineOrder, {
        type: 'line',
        data: {
            labels: sixMonthsBackMonths,
            datasets: [{
                label: 'Total penjualan susu formula order offline',
                data: soldFormulaMilkOfflineOrder,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const chartBabyDiaperOfflineOrder = document.getElementById('chartBabyDiaperOfflineOrder');

    new Chart(chartBabyDiaperOfflineOrder, {
        type: 'line',
        data: {
            labels: sixMonthsBackMonths,
            datasets: [{
                label: 'Total penjualan popok bayi order offline',
                data: soldBabyDiaperOfflineOrder,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const chartAdultDiaperOfflineOrder = document.getElementById('chartAdultDiaperOfflineOrder');

    new Chart(chartAdultDiaperOfflineOrder, {
        type: 'line',
        data: {
            labels: sixMonthsBackMonths,
            datasets: [{
                label: 'Total penjualan popok dewasa order offline',
                data: soldAdultDiaperOfflineOrder,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script>
    function updateForm() {
        var milkRecap = document.getElementById("milkGraphic");
        var babyRecap = document.getElementById("babyGraphic");
        var adultRecap = document.getElementById("adultGraphic");

        // Show the selected form
        if (document.getElementById("milkRadio").checked) {
            milkRecap.style.display = "block";
            babyRecap.style.display = "none";
            adultRecap.style.display = "none";
        } else if (document.getElementById("babyRadio").checked) {
            milkRecap.style.display = "none";
            babyRecap.style.display = "block";
            adultRecap.style.display = "none";
        } else {
            milkRecap.style.display = "none";
            babyRecap.style.display = "none";
            adultRecap.style.display = "block";
        }
    }


</script>

{{ template "dashboard-footer.html" }}
